.know_us{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(2, 25, 4, 0.5)),url('https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.know_us h1{
    font-size: 5rem;
    color: white;
}
.know_us_description{
    height: 80vh;
    background: linear-gradient(2700deg, transparent, rgba(2, 100, 32, 0.3));
    display: flex;
}
.know_us_left{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.know_us_left img{
    height: 70vh;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .9));
    
}
.know_us_right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem ;
    padding-right: 2rem;
    font-size: x-large;
    letter-spacing: 2px;
    line-height: 1.5;

}