
.PopularCategory{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
    height: 90vh;
    margin-left: 2rem;
    
}

.static h2{
    z-index: 1;
    position : -webkit-sticky;
    position: sticky;


    color: #064a29;
    font-size: 30px;
    font-weight: 600;
    margin-left: 1rem;

}
.static hr{
    width: 230px;
    height: 4px;
    border-radius: 10px;
    background: #036334;
    margin-left: 1rem;
} 
.PopularCategory_items{
    margin-top: 5px;
    display: flex;
    gap: 10px;
}
